<ion-content [fullscreen]="true">
  <div>
    <ion-img src="../../assets/city.svg">

    </ion-img>
  </div>
  <div class="fixed-top mt-4 bg-transparent">
    <ion-list [inset]="true" class="bg-transparent m-0">
      <p class="text-center font-weight-bold text-white">
        Akun
      </p>
      <ion-card>
        <ion-item lines="none" class="my-2">
          <ion-img src="../../assets/women.svg" slot="start" class="mt-2">
          </ion-img>
          <ion-list>
            <ion-label class="font-weight-bold">Albertus Pangaribuan</ion-label>
            <p class="mb-0">
              +62822-8058-1234
            </p>
            <p class="mb-0">
              advenreey@gmail.com
            </p>
          </ion-list>

          <a href="" class="text-center mr-2" slot="end">
            <ion-label class="font-weight-bold " color="danger" >
              Ubah
            </ion-label>
          </a>

        </ion-item>
      </ion-card>
      <div *ngFor="let menu of listMenu">
        <app-custom-item-list title="{{menu.title}}" iconEnd="{{menu.iconEnd}}" iconStart="{{menu.iconStart}}">
        </app-custom-item-list>
      </div>
      <ion-item (click)="setOpen(true)">
        <ion-icon name="lock-closed" class=" mr-2" slot="start"></ion-icon>
        <ion-label>Keluar</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-alert [isOpen]="isAlertOpen" header="Keluar dari Abang Express Kurir."
      subHeader="Apakah Anda yakin ingin keluar?" [buttons]="alertButtons" (didDismiss)="setOpen(false)"></ion-alert>
  </div>
</ion-content>
