<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div>
    <ion-img src="../../../assets/bike.svg">

    </ion-img>
  </div>
  <div class="fixed-top mt-5">
    <div class="bg-white h-75 d-absolute fixed-bottom rounded-top">
      <div class="col mt-4">
        <h4 class="text-center font-weight-bold">
          Masuk
        </h4>
        <ion-item class="border rounded-lg mt-4">
          <ion-input placeholder="Username" label-placement="floating" ></ion-input>
         </ion-item>
        <ion-item class="border rounded-lg mt-4">
           <ion-input type="{{inputPasswordType}}" placeholder="Password" label-placement="floating" ></ion-input>
           <a class="type-toggle" (click)="toggleShow()">
            <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
         </a>
         
        </ion-item>
        <ion-item item-end color="none" lines="none">
          <p slot="end" color="red" class="text-danger">
            Forget Password
          </p>
        </ion-item>
        <ion-button expand="block" color="red" (click)="navigate()">Masuk</ion-button>
      </div>
    </div>
  </div>
</ion-content>
