<ion-content [fullscreen]="true">
  <ion-img class="h-75" src="../../../assets/bikeIntro.svg">

  </ion-img>
  <ion-grid class="h-25">
    <ion-row >
      <div class="container d-table-cell align-text-bottom mb-5">
        <div class="text-center mx-5">
          <div class="title">
            <h4 class="font-weight-bold">Test App</h4>
          </div>
          <div class="description">
            <h5 class="text-secondary">
              Siapkan strategi khusus untuk mengatasi keluhan pelanggan.
            </h5>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border mb-4" text-center no-border transparent>
  <ion-toolbar transparent>
    <ion-button expand="block" color="red" class="mx-5" (click)="navigate()">Block</ion-button>
  </ion-toolbar>
</ion-footer>
